---
import { menuLinks, siteConfig } from "@/site.config";

const year = new Date().getFullYear();
---

<footer
	class="mt-auto flex w-full flex-col items-center justify-center gap-y-2 pt-20 pb-4 text-center align-top text-gray-600 sm:flex-row sm:justify-between sm:text-xs dark:text-gray-400"
>
	<div class="me-0 font-bold sm:me-4">
		&copy; {siteConfig.author}
		{year}.<span class="inline-block">&nbsp;{siteConfig.title}</span>
	</div>
	<nav aria-labelledby="footer_links" class="flex gap-x-0 divide-x divide-gray-500">
		<p id="footer_links" class="sr-only">More on this site</p>
		{
			menuLinks.map((link) => (
				<a class="cactus-link px-4" href={link.path}>
					{link.title}
				</a>
			))
		}
	</nav>
</footer>
