---
import { getCollection } from "astro:content";
import { menuLinks, siteConfig } from "@/site.config";
import { compactMenuLinks } from "@/utils/site";
import { getAllPosts } from "@/data/post";

const year = new Date().getFullYear();

const allNotes = await getCollection("note");
const allPosts = await getAllPosts();
const collections = {
	notes: allNotes,
	posts: allPosts,
};
---

<footer
	class="mt-auto flex w-full flex-col items-center justify-center gap-y-2 pt-16 pb-4 text-center align-top text-xs text-gray-600 sm:flex-row sm:justify-between dark:text-gray-400"
>
	<div class="me-0 font-bold sm:me-4">
		&copy; {siteConfig.author}
		{year}.<span class="inline-block">&nbsp;{siteConfig.title}</span>
	</div>
	<nav aria-labelledby="footer_links" class="flex gap-x-0 divide-x divide-gray-500">
		<p id="footer_links" class="sr-only">More on this site</p>
		{
			compactMenuLinks(menuLinks, collections).map((link) => (
				<a class="cactus-link px-4" href={link.path}>
					{link.title}
				</a>
			))
		}
	</nav>
</footer>
